#!/usr/bin/env bash
set -ueo pipefail

# PIPENV
export PIPENV_PIPFILE=$PWD/.pipfile
export PIPENV_NOSPIN=True
export PIPENV_SHELL_FANCY=True
export PIPENV_HIDE_EMOJIS=True
export PIPENV_COLORBLIND=True
export PIPENV_DEFAULT_PYTHON_VERSION='3.8.6'

# PATH
PATH_add $(pwd)/mirrorer
